<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>SeeUChat Room</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://www.unpkg.com/peerjs@1.4.7/dist/peerjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
      const ROOM_ID = '<%= roomId %>'
    </script>
</head>
<body>
  <script>
if(!localStorage.getItem("name")) {
  var result = prompt("Enter your Username")
    if(result === "") {
      window.location.reload();
    }
    if(result === null) {
      window.location.reload();
    } else {
      localStorage.setItem("name", result)
    }
}
  </script>
  <div class="main">
    <div class="mainLeft">
      <div class="roomidtop">
        <h6 id="roomidh6" class="roomid"></h6>
      </div>
      <div class="mainVideos">
        <div id="videoGrid" style="color: white;"></div>
      </div>
      <div class="mainControls">
        <div class="mainControlsBlock">
          <div onclick="muteUnmute()" class="mainControlsButton mainMuteButton">
            <i class="fas fa-microphone"></i>
            <span>Mute</span>
          </div>
          <div onclick="playStop()" class="mainControlsButton mainVideoButton">
            <i class="fas fa-video"></i>
            <span>Stop Video</span>
          </div>
        </div>

        <div class="mainControlsBlock">
         <div class="mainControlsButton" onclick="sharelink()">
          <i class="fas fa-share"></i>
           <span>Share Link</span>
         </div>
         <div class="mainControlsButton" id="spanclick">
          <i class="fas fa-user"></i>
           <span id="spanname"></span>
         </div>
         <div class="mainControlsButton" onclick="discord()">
          <i class="fas fa-share"></i>
           <span>Share Link</span>
         </div>
        </div>

        <div class="mainControlsBlock">
          <div class="mainControlsButtonEndMeeting">
             <span class="leaveMeeting" onclick="window.location.href = `/`">End</span>
          </div>
       </div>

      </div>

    </div>
    <div class="mainRight">
      <div class="mainHeader">
        <h6>Chat</h6>
      </div>
      <div class="mainChatWindow">
        <ul class="messagesContainer">
        </ul>
     </div>
     <div class="messageSendingTo">To: <span>Everyone <i class="fas fa-angle-down"></i></span> </div>
     <div class="mainMessageContainer">
        <input id="chatMessage" type="text" placeholder="Type message here...">
     </div>
    
    </div>
</div>
</body>

<script src="js/main.js"></script>

</html>